* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: rgb(226, 226, 226);
}

.sign-in-btn {
  background-color: rgb(86, 86, 221);
  color: white;
  padding: 1rem 1.5rem;
  border: none;
}

.sign-out-btn {
  background-color: rgb(211, 58, 58);
  color: white;
  padding: 1rem 1.5rem;
  border: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.container {
  border-radius: 6px;
  padding: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(255, 255, 255);
  width: 30rem;
  margin: 10px;

}

.message-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

.message received {
  
}

.p-message {
  font-size: 13px;
}

.avatar {
  margin-left: 1rem;
  display: inline;
  width: 25px;
  height: 25px;
}

.by {
  font-size: 10px;
  font-weight: 600;
  color: rgb(163, 163, 163);
}

p {
  margin: 0;
}

.p-date {
  font-size: 8px;
}

.input {
  padding: 0.3rem 1rem;
  width: 20rem;
  border: 0;
  margin-bottom: 2rem
}

.submit {
  background-color: rgb(37, 139, 255);
  color: white;
  border-radius: 0 1rem 1rem 0;
  padding: 0.3rem 1rem;
  border: 0;
}

.submit:hover {
  
  background-color: rgb(114, 176, 246);
 
}

